@import "bootstrap";

.message-alert {
    -webkit-animation: cssAnimation 3s forwards;
    animation: cssAnimation 3s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    25%  {opacity: 1;}
    50%  {opacity: 0.75;}
    75%  {opacity: 0.50;}
    100% {opacity: 0;display: none;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    25%  {opacity: 1;}
    50%  {opacity: 0.75;}
    75%  {opacity: 0.50;}
    100% {opacity: 0;display: none;}
}
